h3
  | 车辆品牌
  a.pull-right.btn.btn-sm.btn-info(ui-sref="app.brands-add()") 
    span.btn-label
      i.icon-plus
    | 新增
  from.pull-right.col-sm-3
    .input-group
      span.input-group-addon
        .icon-magnifier
      input.form-control(type='text', placeholder="输入品牌名称", ng-model="filter.text", ui-keypress="{13:'tableParams.reload()'}")

.container-fluid
  
  .panel.panel-default
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams')
        tbody
          tr(ng-repeat='entity in $data' ui-sref='app.brand({brandId: entity.id})')
            td(data-title="'品牌名称'") {{entity.name}}
            td(data-title="'所属制造商'") {{entity.manufacturer.name}}
            td(data-title="'下属型号'") {{entity.models.length}}
            td(data-title="'登记日期'") {{entity.created}}