h3
  | 客户
  a.pull-right.btn.btn-sm.btn-info(ng-click='generate()', download) 导出用户
  from.pull-right.col-sm-3
    .input-group
      span.input-group-addon
        .icon-magnifier
      input.form-control(type='text', placeholder="输入用户手机号码", ng-model="filter.text", ui-keypress="{13:'tableParams.reload()'}")
  
.container-fluid
  
  .panel.panel-default
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams', export-csv='csv')
        tbody
          tr(ng-repeat='entity in $data')
            td(data-title="'用户名'") {{entity.user.username}}
            td(data-title="'真名'") {{entity.user.name}}
            td(data-title="'联系电话'") {{entity.user.phone}}
            td(data-title="'省'") {{entity.user.region.province}}
            td(data-title="'城市'") {{entity.user.region.city}}
            td(data-title="'注册日期'") {{entity.user.created}}