h3 新增车辆制造商

.container-fluid(ng-controller="ManufacturersAddController")
  // START row
  .row
    .col-md-12
      form.form-validate.form-horizontal(name="formValidate", ng-submit="submitForm()", novalidate="")
        // START panel
        .panel.panel-default
          toaster-container(toaster-options="{'position-class': 'toast-top-right', 'close-button':true}")
          .panel-body
            fieldset.b0
              legend 制造商资料登记
            fieldset
              .form-group
                label.col-sm-2.control-label 制造商名称
                .col-sm-6
                  input.form-control(type='text', name='name', required='', ng-model="entity.name")
                  span.text-danger(ng-show="validateInput('name', 'required')") 品牌名称不能为空
                .col-sm-4
                  small.text-muted 必填
            fieldset
              .form-group
                label.col-sm-2.control-label 联系电话
                .col-sm-6
                  input.form-control(type='text', name='name', ng-model="entity.phone")
                .col-sm-4
                  small.text-muted 可选
            fieldset
              .form-group
                label.col-sm-2.control-label 电子邮件
                .col-sm-6
                  input.form-control(type='text', name='name', ng-model="entity.email")
                .col-sm-4
                  small.text-muted 可选
            fieldset
              .form-group
                label.col-sm-2.control-label 联系地址
                .col-sm-6
                  input.form-control(type='text', name='name', ng-model="entity.address")
                .col-sm-4
                  small.text-muted 可选
          .panel-footer.text-center
            button.mb-sm.btn.btn-lg.btn-info(type='submit') 提交   
            button.mb-sm.btn.btn-lg.btn-default(ui-sref="app.manufacturers()") 取消
        // END panel
  // END row
                