h3 
  | 故障统计
  a.pull-right.btn.btn-info(ng-click='tableParams.reload()') GO
  .pull-right.col-sm-9
    .col-sm-4
      select.chosen-select.form-control(ng-model="brand", ng-options="b.name for b in brands")
    .col-sm-4
      select.chosen-select.form-control(ng-model="province", ng-options="p.name for p in provinces")
    .col-sm-4
      select.chosen-select.form-control(ng-model="type")
        option(value="all") 全部故障
        option(value='brake') 刹车
        option(value='motor') 电机
        option(value='controller') 控制器
        option(value='steering') 转把
                
.container-fluid
  // START chart
  .row
    .col-lg-12
      #panelChart2.panel.panel-default
        .panel-heading
          paneltool(tool-collapse, tool-dismiss)
          .panel-title 故障统计
        .panel-wrapper
          .panel-body
            flot(dataset='barStackedData', options='barStackedOptions', height="300px")
  // END chart
  
  // START table
  .panel.panel-default
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams')
        tbody
          tr(ng-repeat='entity in $data')
            td(data-title="'时间'") {{entity._id}} 天
            td(data-title="'刹车'") {{entity.brake}}
            td(data-title="'电机'") {{entity.motor}}
            td(data-title="'控制器'") {{entity.controller}}
            td(data-title="'转把'") {{entity.steering}}
  // END chart
            