h3 
  | 地区统计
  a.pull-right.btn.btn-info(ng-click='tableParams.reload()') 统计
  .pull-right.col-sm-9
    .col-sm-3
      select.form-control(ng-options="b as b.name for b in brands", ng-model="brand")
        option(value="") 品牌
    .col-sm-3
      select.form-control(ng-options="m for m in brand.models", ng-model="model")
        option(value="") 型号 
    .col-sm-3
      p.input-group
        input.form-control(type='text', datepicker-popup='yyyy-MM-dd', ng-model="beginDate", is-open='openeds[1]', max-date="endDate", ng-required='true', close-text='关闭')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='open($event, 1)')
            em.fa.fa-calendar  
    .col-sm-3
      p.input-group
        input.form-control(type='text', datepicker-popup='yyyy-MM-dd', ng-model="endDate", is-open='openeds[0]', ng-required='true', close-text='关闭')
        span.input-group-btn
          button.btn.btn-default(type='button', ng-click='open($event, 0)')
            em.fa.fa-calendar
        
.container-fluid
  // START chart
  .row
    .col-lg-12
      #panelChart2.panel.panel-default
        .panel-heading
          a.pull-right.btn.btn-warning(ng-click="goRoot()") 查看全国
          paneltool(tool-collapse, tool-dismiss)
          .panel-title 地区排名
        .panel-wrapper
          .panel-body
            flot(dataset='barData', options='barOptions', height="300px", on-plot-click="goSubCatagory(event, pos, item)")
  // END chart
  
  // START table
  .panel.panel-default
    .table-responsive
      table.table.table-bordered.table-striped(ng-table='tableParams')
        tbody
          tr(ng-repeat='entity in $data')
            td(data-title="'地区'") {{entity._id || "其他"}}
            td(data-title="'新增'") {{entity.count}}
            td(data-title="'新增占比'")  {{ entity.count/total| percentage: 1 }}
            td(data-title="'累计'") {{entity.aggregate}}
            td(data-title="'累计占比'") {{entity.aggregate/aggregateTotal| percentage}}
  // END chart
            