<h3>客户<a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv" class="pull-right btn btn-sm btn-info">导出用户</a>
   <from class="pull-right col-sm-3">
      <div class="input-group">
         <span class="input-group-addon">
            <div class="icon-magnifier"></div>
         </span>
         <input type="text" placeholder="输入用户手机号码" ng-model="filter.text" ui-keypress="{13:'tableParams.reload()'}" class="form-control" />
      </div>
   </from>
</h3>
<div class="container-fluid">
   <div class="panel panel-default">
      <div class="table-responsive">
         <table ng-table="tableParams" export-csv="csv" class="table table-bordered table-striped">
            <tbody>
               <tr ng-repeat="user in $data">
                  <td data-title="'用户名'">{{user.username}}</td>
                  <td data-title="'真名'">{{user.name}}</td>
                  <td data-title="'联系电话'">{{user.phone}}</td>
                  <td data-title="'省'">{{user.region.province}}</td>
                  <td data-title="'城市'">{{user.region.city}}</td>
                  <td data-title="'注册日期'">{{user.created}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>