<h3>
   群发功能<a ui-sref="app.mass-compose()" class="btn btn-sm btn-info pull-right">新建群发消息</a>
</h3>
<div class="container-fluid">
   <div class="panel panel-default">
      <div class="table-responsive">
         <table ng-table="tableParams" class="table table-bordered table-striped">
            <tbody>
               <tr ng-repeat="mass in $data" class="text-center">
                  <td data-title="'内容'" class="text-left">{{mass.Content}}</td>
                  <td data-title="'时间'">{{mass.CreateTime | moment_unix }}</td>
                  <td data-title="'接收范围'">{{mass.where | mass_filter}}</td>
                  <td data-title="'状态'"><a ng-click="delete(mass)" class="btn btn-clear"><i class="fa fa-lg fa-trash mr-sm"></i>删除</a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>